<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Веб мастерская html/css/js</title>
    <meta name="description" content="Веб мастера и верстальщики, клуб по интересам создавать сайты с помощью html/css/js">
    <link rel="canonical" href="https://amir248.github.io/site/">
    <meta name="robots" content="all">
    <meta name="autor" content="Amir Navrutdinov">
    <link rel="stylesheet" href="style.css">
    <!-- Разметка JSON-LD, созданная Мастером разметки структурированных данных Google. -->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Article",
  "name" : "Клуб по интересам html/css/js верстка",
  "headline" : "Как еще в простонародье называется 'верстальщик'. ",
  "author" : {
    "@type" : "Person",
    "name" : "Amir Navrutdinov",
    "alternateName": ["Amir Shikarno", "Амир Наврутдинов"]
  },
  "datePublished" : "2021-01-03",
  "dateModified" : "2023-05-20",
  "image" : "https://nasobe.ru/images/saitoverstauzen%20.jpg",
  "articleSection" : "верстальщик",
  "articleBody" : "Очень внезапно эта профессия вдруг по великому случаю стала очень вакантной и прибыльной. Вследствие чего и востребованной. При том что раньше программистом называли какого-то лоха в самом  пыльном углу. Куда даже свет не падал. Одно было ясно! Это место старались обходить стороной. Потому что там сидит очень странный задрот и непонятно чем занимается. (Еще колдует, когда нет возможности “шпрехать компутер”.) Такой вот, очень загадочный персонаж!",
  "url" : "https://amir248.github.io/site/",
  "publisher" : {
    "@type" : "Organization",
    "name" : "веб мастерская имени Барона Сайтоверстаузена",
    "logo": {
        "@type": "ImageObject",
        "url": "https://nasobe.ru/images/logo.png"
      }
  }
}
</script>
  </head>
  <body>
    <main>
      <article>


        <h1><%=title %></h1>

          <p><%=text %></p>


              <p>Excellent <%=phone %></p>
      </article>
      <aside>
        <ul>
          <a href='/'<li>one </li></a>
          <a href='/lol'<li>Two </li></a>
          <a href='/super'<li>Three </li></a>
        </ul>
      </aside>
    </main>
  </body>
</html>
